<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="MedicalLogDb_WebLog" xsi:type="Database">
      <connectionString>${gdc:item=DefaultConnection}</connectionString>
      <commandText>
        exec spWebLogInsert @EventDateTime, @EventLevel, @EventMessage, @EventProperties, @EventGuid, @MachineName, @ProcessId, @ProcessName, @AppDomainId, @AppDomainName, @ThreadId, @ThreadName, @SiteName, @LoggerName, @ThreadIdentity, @WebIdentity, @ExceptionMessage, @ExceptionType, @ExceptionData, @ExceptionStackTrace, @HttpRequest, @IpAddress, @SessionId
      </commandText>
      <parameter name="@EventDateTime" layout="${longdate:universalTime=true}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@EventProperties" layout="${replace:searchFor=&quot;.+:replaceWith={ $0 \}:regex=true:inner=${replace:searchFor=#quot;:replaceWith=&quot;:inner=${all-event-properties:format=#quot;[key]#quot;\: #quot;[value]#quot;:separator=, :jsonEncode=true:trimWhiteSpace=true}}}" />
      <parameter name="@EventGuid" layout="${event-properties:item=EventGuid}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@ProcessId" layout="${processid}" />
      <parameter name="@ProcessName" layout="${processname}" />
      <parameter name="@AppDomainId" layout="${appdomain:format={0\}}" />
      <parameter name="@AppDomainName" layout="${appdomain:format={1\}}" />
      <parameter name="@ThreadId" layout="${threadid}" />
      <parameter name="@ThreadName" layout="${threadname}" />
      <parameter name="@SiteName" layout="${iis-site-name}" />
      <parameter name="@LoggerName" layout="${logger}" />
      <parameter name="@ThreadIdentity" layout="${identity}" />
      <parameter name="@WebIdentity" layout="${aspnet-user-identity}" />
      <parameter name="@ExceptionMessage" layout="${exception:format=Message:innerFormat=Message:maxInnerExceptionLevel=10:innerExceptionSeparator=\n\n}" />
      <parameter name="@ExceptionType" layout="${exception:format=Type:innerFormat=Type:maxInnerExceptionLevel=10:innerExceptionSeparator=\n\n}" />
      <parameter name="@ExceptionData" layout="${exception:format=Data:innerFormat=Data:maxInnerExceptionLevel=10:innerExceptionSeparator=\n\n}" />
      <parameter name="@ExceptionStackTrace" layout="${replace:searchFor=   :replaceWith=:inner=${exception:format=StackTrace:innerFormat=StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n\n}}" />
      <parameter name="@HttpRequest" layout="${aspnet-request-method} ${aspnet-request-url:IncludeQueryString=true:IncludeHost=true:IncludeScheme=true}${newline}${aspnet-request-headers:exclude=Authorization:outputFormat=Flat:itemSeparator=${newline}" />
      <parameter name="@IpAddress" layout="${aspnet-request-ip}" />
      <parameter name="@SessionId" layout="${aspnet-sessionid}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" maxLevel="Warn" final="true" />
    <!-- BlackHole without writeTo -->

    <logger name="*" minlevel="Warn" writeTo="MedicalLogDb_WebLog" />
  </rules>
</nlog>
